@import url('https://fonts.googleapis.com/css?family=Montserrat');
/* line 2, public\less\maynlee\common.less */
* {
  margin: 0;
  padding: 0;
}
/* line 3, public\less\maynlee\common.less */
ul,
li,
ol {
  list-style: none;
}
/* line 4, public\less\maynlee\common.less */
body,
html {
  height: 100%;
}
/* line 5, public\less\maynlee\common.less */
a {
  text-decoration: none;
}
/* line 2, public\less\maynlee\maynlee.less */
.wrap {
  width: 100%;
  height: 100%;
  letter-spacing: 5%;
}
/* line 3, public\less\maynlee\maynlee.less */
.wrap .header {
  width: 100%;
  height: 130px;
  z-index: 10;
  position: fixed;
}
/* line 4, public\less\maynlee\maynlee.less */
.wrap .header h1 {
  position: absolute;
  top: 20%;
  left: 2.1%;
  z-index: 1;
}
/* line 5, public\less\maynlee\maynlee.less */
.wrap .header .logo_b {
  display: none;
}
/* line 6, public\less\maynlee\maynlee.less */
.wrap .header .header_btn {
  position: fixed;
  top: 20px;
  right: 30px;
  z-index: 99;
  width: 140px;
  height: 36px;
  float: right;
}
/* line 11, public\less\maynlee\maynlee.less */
.wrap .header .header_btn a {
  width: 100%;
  height: 100%;
}
/* line 12, public\less\maynlee\maynlee.less */
.wrap .header .header_btn a i {
  color: #fff;
  display: inline-block;
  font-family: "Flaticon";
  font-size: 33px;
  margin-left: 6.5%;
}
/* line 16, public\less\maynlee\maynlee.less */
.wrap .header .nav .menu {
  width: 90px;
  height: 30px;
  z-index: 98;
  position: fixed;
  top: 60px;
  right: 2.1%;
}
/* line 17, public\less\maynlee\maynlee.less */
.wrap .header .nav .menu a {
  width: 30px;
  height: 100%;
  display: block;
}
/* line 18, public\less\maynlee\maynlee.less */
.wrap .header .nav .menu .hamburger {
  width: 28px;
  height: 100%;
}
/* line 19, public\less\maynlee\maynlee.less */
.wrap .header .nav .menu .hamburger span {
  width: 22px;
  border: 1px #fff solid;
  display: block;
}
/* line 20, public\less\maynlee\maynlee.less */
.wrap .header .nav .menu .hamburger .worms1 {
  position: absolute;
  top: 25%;
  left: 1%;
}
/* line 21, public\less\maynlee\maynlee.less */
.wrap .header .nav .menu .hamburger .worms2 {
  position: absolute;
  top: 45%;
  left: 4%;
}
/* line 22, public\less\maynlee\maynlee.less */
.wrap .header .nav .menu .hamburger .worms3 {
  position: absolute;
  top: 65%;
  left: -2%;
}
/* line 24, public\less\maynlee\maynlee.less */
.wrap .header .nav .menu p {
  font-size: 14px;
  letter-spacing: 2px;
  position: absolute;
  left: 40px;
  top: 17%;
}
/* line 25, public\less\maynlee\maynlee.less */
.wrap .header .nav .menu p a {
  color: #fff;
  display: block;
}
/* line 27, public\less\maynlee\maynlee.less */
.wrap .header .nav .open_nav {
  width: 300px;
  height: 950px;
  background-color: #fff;
  position: absolute;
  right: -300px;
  z-index: 97;
}
/* line 31, public\less\maynlee\maynlee.less */
.wrap .header .nav .open_nav img {
  width: 12px;
  height: 12px;
  position: absolute;
  right: 13%;
  top: 9%;
}
/* line 33, public\less\maynlee\maynlee.less */
.wrap .header .nav .open_nav ul {
  width: 220px;
  height: 500px;
  letter-spacing: 1.5px;
  position: absolute;
  right: 13%;
  top: 12.5%;
}
/* line 35, public\less\maynlee\maynlee.less */
.wrap .header .nav .open_nav ul li {
  font-size: 15px;
  z-index: 1;
  text-align: right;
  line-height: 200%;
}
/* line 36, public\less\maynlee\maynlee.less */
.wrap .header .nav .open_nav ul li i {
  display: block;
}
/* line 37, public\less\maynlee\maynlee.less */
.wrap .header .nav .open_nav ul li a {
  color: #000;
  display: block;
}
/* line 38, public\less\maynlee\maynlee.less */
.wrap .header .nav .open_nav ul li span {
  letter-spacing: 1.5px;
  line-height: 300%;
  font-size: 10px;
  height: 100%;
  color: #9d9d9d;
  display: none;
}
/* line 47, public\less\maynlee\maynlee.less */
.wrap .contents {
  width: 100%;
  height: 950px;
  position: relative;
}
/* line 48, public\less\maynlee\maynlee.less */
.wrap .contents .album-wrap {
  width: 100%;
  height: 950px;
}
/* line 49, public\less\maynlee\maynlee.less */
.wrap .contents .album-wrap li {
  width: 100%;
  height: 950px;
  position: absolute;
  font-family: 'Montserrat', sans-serif;
}
/* line 50, public\less\maynlee\maynlee.less */
.wrap .contents .album-wrap li i {
  width: 100%;
  height: 200px;
  display: block;
  position: absolute;
  top: 40%;
}
/* line 52, public\less\maynlee\maynlee.less */
.wrap .contents .album-wrap li:nth-child(1) {
  display: none;
  background-image: url(../../../public/images/maynlee/images/main_slide_Wavelength.jpg);
  background-position: center center;
}
/* line 56, public\less\maynlee\maynlee.less */
.wrap .contents .album-wrap li:nth-child(1) span {
  font-size: 100px;
  color: #fff;
  font-weight: 700;
  text-align: center;
  display: block;
}
/* line 57, public\less\maynlee\maynlee.less */
.wrap .contents .album-wrap li:nth-child(1) p {
  font-size: 14px;
  color: #fff;
  text-align: center;
}
/* line 59, public\less\maynlee\maynlee.less */
.wrap .contents .album-wrap li:nth-child(2) {
  display: none;
  background-image: url(../../../public/images/maynlee/images/elgant.jpg);
  background-position: center center;
}
/* line 63, public\less\maynlee\maynlee.less */
.wrap .contents .album-wrap li:nth-child(2) span {
  font-size: 100px;
  color: #fff;
  font-weight: 700;
  text-align: center;
  display: block;
}
/* line 64, public\less\maynlee\maynlee.less */
.wrap .contents .album-wrap li:nth-child(2) p {
  font-size: 14px;
  color: #fff;
  text-align: center;
}
/* line 66, public\less\maynlee\maynlee.less */
.wrap .contents .album-wrap li:nth-child(3) {
  display: none;
  background-image: url(../../../public/images/maynlee/images/Lotus_blossom_fhd.jpg);
  background-position: center center;
}
/* line 70, public\less\maynlee\maynlee.less */
.wrap .contents .album-wrap li:nth-child(3) span {
  font-size: 100px;
  color: #fff;
  text-align: center;
  display: block;
}
/* line 71, public\less\maynlee\maynlee.less */
.wrap .contents .album-wrap li:nth-child(3) p {
  font-size: 14px;
  color: #fff;
  text-align: center;
}
/* line 75, public\less\maynlee\maynlee.less */
.wrap .contents .bt-roll {
  width: 100%;
  height: 50px;
  position: absolute;
  top: 48%;
}
/* line 76, public\less\maynlee\maynlee.less */
.wrap .contents .bt-roll li {
  display: inline-block;
}
/* line 77, public\less\maynlee\maynlee.less */
.wrap .contents .bt-roll li a {
  color: #fff;
}
/* line 78, public\less\maynlee\maynlee.less */
.wrap .contents .bt-roll li:nth-child(1) {
  position: absolute;
  left: 1%;
  top: 20;
}
/* line 79, public\less\maynlee\maynlee.less */
.wrap .contents .bt-roll li:nth-child(2) {
  position: absolute;
  right: 2%;
  top: 20%;
}
/* line 82, public\less\maynlee\maynlee.less */
.wrap .contents .slide-down {
  width: 100%;
  height: 40px;
  text-align: center;
  position: absolute;
  bottom: 0;
}
/* line 84, public\less\maynlee\maynlee.less */
.wrap .contents .slide-down a {
  color: #fff;
}
/* line 85, public\less\maynlee\maynlee.less */
.wrap .contents .slide-down a:nth-child(1) {
  font-size: 10px;
  position: absolute;
  bottom: 0;
  left: 49.7%;
}
/* line 86, public\less\maynlee\maynlee.less */
.wrap .contents .slide-down a:nth-child(2) {
  font-size: 14px;
}
/* line 92, public\less\maynlee\maynlee.less */
.wrap .section {
  width: 100%;
  height: 1548px;
  position: relative;
}
/* line 93, public\less\maynlee\maynlee.less */
.wrap .section .sec-top {
  width: 1080px;
  height: 772px;
  margin-top: 120px;
  margin-left: 22%;
  position: relative;
}
/* line 94, public\less\maynlee\maynlee.less */
.wrap .section .sec-top a {
  display: inline-block;
}
/* line 95, public\less\maynlee\maynlee.less */
.wrap .section .sec-top .sec-img1 {
  width: 720px;
  height: 376px;
}
/* line 96, public\less\maynlee\maynlee.less */
.wrap .section .sec-top .sec-img2 {
  width: 340px;
  height: 376px;
  position: absolute;
  top: 0;
  right: 0;
}
/* line 97, public\less\maynlee\maynlee.less */
.wrap .section .sec-top .sec-img3 {
  width: 340px;
  height: 376px;
  position: absolute;
  bottom: 0;
  left: 0;
}
/* line 98, public\less\maynlee\maynlee.less */
.wrap .section .sec-top .sec-img4 {
  width: 720px;
  height: 376px;
  position: absolute;
  bottom: 0;
  right: 0;
}
/* line 100, public\less\maynlee\maynlee.less */
.wrap .section .sec-bottom {
  margin-left: 22%;
  margin-top: 120px;
  position: relative;
}
/* line 101, public\less\maynlee\maynlee.less */
.wrap .section .sec-bottom a {
  display: inline-block;
}
/* line 102, public\less\maynlee\maynlee.less */
.wrap .section .sec-bottom img {
  width: 1080px;
  height: 376px;
  position: absolute;
  top: 2%;
  left: 0;
}
/* line 105, public\less\maynlee\maynlee.less */
.wrap .footer {
  width: 100%;
  height: 369px;
  background-color: #dce2e6;
  position: relative;
}
/* line 106, public\less\maynlee\maynlee.less */
.wrap .footer .sns {
  width: 100%;
  height: 30px;
  display: inline-block;
  margin-top: 7%;
  text-align: center;
  font-family: "Flaticon";
}
/* line 108, public\less\maynlee\maynlee.less */
.wrap .footer .sns a {
  color: #000;
}
/* line 109, public\less\maynlee\maynlee.less */
.wrap .footer .sns i {
  font-size: 32px;
  margin-right: 1.2%;
}
/* line 110, public\less\maynlee\maynlee.less */
.wrap .footer .sns .flaticon-facebook2:hover {
  color: #446ebf;
}
/* line 111, public\less\maynlee\maynlee.less */
.wrap .footer .sns .flaticon-instagram2:hover {
  color: #ff6651;
}
/* line 112, public\less\maynlee\maynlee.less */
.wrap .footer .sns .flaticon-twitter2:hover {
  color: #1da1f3;
}
/* line 114, public\less\maynlee\maynlee.less */
.wrap .footer span {
  width: 100%;
  display: block;
  text-align: center;
  font-size: 12px;
  line-height: 200%;
  margin-top: 2%;
  letter-spacing: .2em;
}
/* line 116, public\less\maynlee\maynlee.less */
.wrap .footer .totop {
  width: 100%;
  height: 50px;
  text-align: center;
  font-family: "Flaticon";
}
/* line 117, public\less\maynlee\maynlee.less */
.wrap .footer .totop img {
  width: 10px;
  height: 10px;
}
/* line 118, public\less\maynlee\maynlee.less */
.wrap .footer .totop a {
  color: #000;
}
/* line 119, public\less\maynlee\maynlee.less */
.wrap .footer .totop a:nth-child(1) {
  position: absolute;
  bottom: 9%;
  left: 50%;
}
/* line 120, public\less\maynlee\maynlee.less */
.wrap .footer .totop a:nth-child(1) i {
  font-size: 10px;
  color: #000;
  font-weight: bold;
}
/* line 121, public\less\maynlee\maynlee.less */
.wrap .footer .totop a:nth-child(2) {
  position: absolute;
  bottom: 5%;
  left: 47.5%;
  color: #000;
  font-size: 14px;
  letter-spacing: 1px;
}
/* line 1, public\less\maynlee\maynlee_sub1.less */
html,
body {
  font-family: 'Montserrat', sans-serif;
}
/* line 2, public\less\maynlee\maynlee_sub1.less */
.sub1 {
  width: 100%;
  height: 100%;
}
/* line 4, public\less\maynlee\maynlee_sub1.less */
.sub1 .contents-sub1 {
  width: 100%;
  height: 744px;
  margin: 0 auto;
  padding-top: 8%;
}
/* line 5, public\less\maynlee\maynlee_sub1.less */
.sub1 .contents-sub1 i {
  display: block;
  width: 200px;
  border: 5px #000 solid;
  margin: 0 auto;
}
/* line 6, public\less\maynlee\maynlee_sub1.less */
.sub1 .contents-sub1 h5 {
  font-size: 20px;
  line-height: 450%;
  text-align: center;
  font-family: 'Montserrat';
  font-weight: bold;
}
/* line 7, public\less\maynlee\maynlee_sub1.less */
.sub1 .contents-sub1 h1 {
  text-align: center;
  font-family: 'Montserrat';
  font-size: 100px;
  line-height: 130px;
}
/* line 8, public\less\maynlee\maynlee_sub1.less */
.sub1 .contents-sub1 .sub1-text {
  display: block;
  width: 1080px;
  height: 250px;
  padding-top: 12%;
  margin: 0 auto;
}
/* line 9, public\less\maynlee\maynlee_sub1.less */
.sub1 .contents-sub1 .sub1-text .text1 {
  display: block;
  width: 470px;
  height: 228px;
  float: left;
  font-size: 12px;
  line-height: 200%;
}
/* line 11, public\less\maynlee\maynlee_sub1.less */
.sub1 .contents-sub1 .sub1-text .text1 p {
  margin-bottom: 6.5%;
}
/* line 13, public\less\maynlee\maynlee_sub1.less */
.sub1 .contents-sub1 .sub1-text .text2 {
  display: block;
  width: 610px;
  height: 228px;
  float: left;
  font-size: 12px;
  line-height: 200%;
}
/* line 14, public\less\maynlee\maynlee_sub1.less */
.sub1 .contents-sub1 .sub1-text .text2 p {
  margin-bottom: 5%;
  margin-left: 12%;
}
/* line 17, public\less\maynlee\maynlee_sub1.less */
.sub1 .collection-sub1 {
  width: 1080px;
  margin: 0 auto;
}
/* line 18, public\less\maynlee\maynlee_sub1.less */
.sub1 .collection-sub1 li {
  display: inline-block;
  position: relative;
}
/* line 19, public\less\maynlee\maynlee_sub1.less */
.sub1 .collection-sub1 li span {
  width: 157px;
  height: 50px;
  display: block;
}
/* line 19, public\less\maynlee\maynlee_sub1.less */
.sub1 .collection-sub1 li span a {
  color: #000;
}
/* line 20, public\less\maynlee\maynlee_sub1.less */
.sub1 .collection-sub1 li span H2 {
  letter-spacing: 3px;
}
/* line 21, public\less\maynlee\maynlee_sub1.less */
.sub1 .collection-sub1 li:nth-child(even) {
  margin-left: 7%;
}
/* line 22, public\less\maynlee\maynlee_sub1.less */
.sub1 .collection-sub1 li:nth-child(even) a {
  text-align: right;
}
/* line 24, public\less\maynlee\maynlee_sub1.less */
.sub1 .collection-sub1 li:nth-child(1) {
  width: 500px;
  height: 480px;
}
/* line 25, public\less\maynlee\maynlee_sub1.less */
.sub1 .collection-sub1 li:nth-child(1) img {
  width: 425px;
  height: 425px;
  position: absolute;
  top: 0;
}
/* line 26, public\less\maynlee\maynlee_sub1.less */
.sub1 .collection-sub1 li:nth-child(1) span {
  position: absolute;
  right: -10%;
  top: 5%;
}
/* line 27, public\less\maynlee\maynlee_sub1.less */
.sub1 .collection-sub1 li:nth-child(1) span H2 {
  position: absolute;
  bottom: 0;
  font-size: 20px;
  font-weight: 700;
}
/* line 29, public\less\maynlee\maynlee_sub1.less */
.sub1 .collection-sub1 li:nth-child(2) {
  width: 500px;
  height: 480px;
}
/* line 30, public\less\maynlee\maynlee_sub1.less */
.sub1 .collection-sub1 li:nth-child(2) img {
  width: 425px;
  height: 425px;
  position: absolute;
  right: 3%;
}
/* line 31, public\less\maynlee\maynlee_sub1.less */
.sub1 .collection-sub1 li:nth-child(2) span {
  position: absolute;
  left: -10%;
  bottom: 15%;
}
/* line 32, public\less\maynlee\maynlee_sub1.less */
.sub1 .collection-sub1 li:nth-child(2) span h6 {
  text-align: right;
}
/* line 33, public\less\maynlee\maynlee_sub1.less */
.sub1 .collection-sub1 li:nth-child(2) span H2 {
  font-size: 20px;
  text-align: right;
  line-height: 50px;
}
/* line 36, public\less\maynlee\maynlee_sub1.less */
.sub1 .collection-sub1 li:nth-child(3) {
  width: 500px;
  height: 480px;
}
/* line 37, public\less\maynlee\maynlee_sub1.less */
.sub1 .collection-sub1 li:nth-child(3) img {
  width: 425px;
  height: 273px;
  position: absolute;
  right: 0;
  top: 15%;
}
/* line 38, public\less\maynlee\maynlee_sub1.less */
.sub1 .collection-sub1 li:nth-child(3) span {
  position: absolute;
  right: -10%;
  top: 25%;
}
/* line 39, public\less\maynlee\maynlee_sub1.less */
.sub1 .collection-sub1 li:nth-child(3) span H2 {
  position: absolute;
  bottom: 0;
  font-size: 20px;
}
/* line 41, public\less\maynlee\maynlee_sub1.less */
.sub1 .collection-sub1 li:nth-child(4) {
  width: 500px;
  height: 480px;
}
/* line 42, public\less\maynlee\maynlee_sub1.less */
.sub1 .collection-sub1 li:nth-child(4) img {
  width: 425px;
  height: 273px;
  position: absolute;
  right: 0;
  top: 15%;
}
/* line 43, public\less\maynlee\maynlee_sub1.less */
.sub1 .collection-sub1 li:nth-child(4) span {
  position: absolute;
  left: -10%;
  bottom: 35%;
}
/* line 44, public\less\maynlee\maynlee_sub1.less */
.sub1 .collection-sub1 li:nth-child(4) span h6 {
  text-align: right;
}
/* line 45, public\less\maynlee\maynlee_sub1.less */
.sub1 .collection-sub1 li:nth-child(4) span H2 {
  font-size: 20px;
  text-align: right;
  line-height: 50px;
}
/* line 48, public\less\maynlee\maynlee_sub1.less */
.sub1 .collection-sub1 li:nth-child(5) {
  width: 500px;
  height: 480px;
}
/* line 49, public\less\maynlee\maynlee_sub1.less */
.sub1 .collection-sub1 li:nth-child(5) img {
  width: 425px;
  height: 273px;
  position: absolute;
  top: 15%;
}
/* line 50, public\less\maynlee\maynlee_sub1.less */
.sub1 .collection-sub1 li:nth-child(5) span {
  position: absolute;
  right: -6%;
  top: 25%;
}
/* line 51, public\less\maynlee\maynlee_sub1.less */
.sub1 .collection-sub1 li:nth-child(5) span H2 {
  position: absolute;
  bottom: 0;
  font-size: 20px;
}
/* line 53, public\less\maynlee\maynlee_sub1.less */
.sub1 .collection-sub1 li:nth-child(6) {
  width: 500px;
  height: 480px;
}
/* line 54, public\less\maynlee\maynlee_sub1.less */
.sub1 .collection-sub1 li:nth-child(6) img {
  width: 425px;
  height: 425px;
  position: absolute;
  top: 0;
  right: 0;
}
/* line 55, public\less\maynlee\maynlee_sub1.less */
.sub1 .collection-sub1 li:nth-child(6) span {
  position: absolute;
  left: -7%;
  bottom: 25%;
}
/* line 56, public\less\maynlee\maynlee_sub1.less */
.sub1 .collection-sub1 li:nth-child(6) span h6 {
  text-align: right;
}
/* line 57, public\less\maynlee\maynlee_sub1.less */
.sub1 .collection-sub1 li:nth-child(6) span H2 {
  font-size: 20px;
  text-align: right;
  line-height: 50px;
}
/* line 60, public\less\maynlee\maynlee_sub1.less */
.sub1 .collection-sub1 li:nth-child(7) {
  width: 500px;
  height: 680px;
}
/* line 61, public\less\maynlee\maynlee_sub1.less */
.sub1 .collection-sub1 li:nth-child(7) img {
  width: 425px;
  height: 655px;
  position: absolute;
  top: -10%;
}
/* line 62, public\less\maynlee\maynlee_sub1.less */
.sub1 .collection-sub1 li:nth-child(7) span {
  position: absolute;
  right: -10%;
  top: 15%;
}
/* line 63, public\less\maynlee\maynlee_sub1.less */
.sub1 .collection-sub1 li:nth-child(7) span H2 {
  position: absolute;
  bottom: 0;
  font-size: 20px;
}
/* line 65, public\less\maynlee\maynlee_sub1.less */
.sub1 .collection-sub1 li:nth-child(8) {
  width: 500px;
  height: 680px;
}
/* line 66, public\less\maynlee\maynlee_sub1.less */
.sub1 .collection-sub1 li:nth-child(8) img {
  width: 425px;
  height: 273px;
  position: absolute;
  top: 30%;
}
/* line 67, public\less\maynlee\maynlee_sub1.less */
.sub1 .collection-sub1 li:nth-child(8) span {
  position: absolute;
  left: -13%;
  bottom: 35%;
}
/* line 68, public\less\maynlee\maynlee_sub1.less */
.sub1 .collection-sub1 li:nth-child(8) span h6 {
  text-align: right;
}
/* line 69, public\less\maynlee\maynlee_sub1.less */
.sub1 .collection-sub1 li:nth-child(8) span H2 {
  font-size: 20px;
  text-align: right;
  line-height: 50px;
}
/* line 72, public\less\maynlee\maynlee_sub1.less */
.sub1 .collection-sub1 li:nth-child(9) {
  width: 500px;
  height: 650px;
}
/* line 73, public\less\maynlee\maynlee_sub1.less */
.sub1 .collection-sub1 li:nth-child(9) img {
  width: 425px;
  height: 425px;
  position: absolute;
  right: 0;
  top: 0;
}
/* line 74, public\less\maynlee\maynlee_sub1.less */
.sub1 .collection-sub1 li:nth-child(9) span {
  position: absolute;
  right: -25%;
  top: 0;
}
/* line 75, public\less\maynlee\maynlee_sub1.less */
.sub1 .collection-sub1 li:nth-child(9) span H2 {
  position: absolute;
  bottom: 0;
  font-size: 20px;
}
/* line 77, public\less\maynlee\maynlee_sub1.less */
.sub1 .collection-sub1 li:nth-child(10) {
  width: 500px;
  height: 650px;
}
/* line 78, public\less\maynlee\maynlee_sub1.less */
.sub1 .collection-sub1 li:nth-child(10) img {
  width: 425px;
  height: 425px;
  position: absolute;
  right: 0;
  top: -10%;
}
/* line 79, public\less\maynlee\maynlee_sub1.less */
.sub1 .collection-sub1 li:nth-child(10) span {
  position: absolute;
  left: -7%;
  top: 30%;
}
/* line 80, public\less\maynlee\maynlee_sub1.less */
.sub1 .collection-sub1 li:nth-child(10) span h6 {
  text-align: right;
}
/* line 81, public\less\maynlee\maynlee_sub1.less */
.sub1 .collection-sub1 li:nth-child(10) span H2 {
  font-size: 20px;
  text-align: right;
  line-height: 50px;
}
/* line 3, public\less\maynlee\maynlee_sub3.less */
.sub3 .event {
  width: 1080px;
  margin: 0 auto;
  height: 1036px;
  padding-top: 8%;
}
/* line 4, public\less\maynlee\maynlee_sub3.less */
.sub3 .event .page_title {
  width: 100%;
  height: 330px;
}
/* line 5, public\less\maynlee\maynlee_sub3.less */
.sub3 .event .page_title h1 {
  font-size: 90px;
  letter-spacing: 8px;
  text-align: center;
  padding-top: 60px;
}
/* line 6, public\less\maynlee\maynlee_sub3.less */
.sub3 .event .page_title h6 {
  text-align: center;
  padding-top: 20px;
}
/* line 8, public\less\maynlee\maynlee_sub3.less */
.sub3 .event .event_table {
  width: 100%;
  height: 377px;
}
/* line 9, public\less\maynlee\maynlee_sub3.less */
.sub3 .event .event_table table {
  width: 100%;
  height: 377px;
  border-collapse: collapse;
  font-size: 12px;
}
/* line 10, public\less\maynlee\maynlee_sub3.less */
.sub3 .event .event_table table tr {
  border: 1px #000 solid;
  border-left: 0;
  border-right: 0;
}
/* line 11, public\less\maynlee\maynlee_sub3.less */
.sub3 .event .event_table table tr:nth-child(1) {
  border: 2px #000 solid;
  border-left: 0;
  border-right: 0;
}
/* line 13, public\less\maynlee\maynlee_sub3.less */
.sub3 .event .event_table table tr:nth-child(1):hover {
  background-color: #fff;
}
/* line 16, public\less\maynlee\maynlee_sub3.less */
.sub3 .event .event_table table tr:hover {
  background-color: #f3f5f7;
}
/* line 18, public\less\maynlee\maynlee_sub3.less */
.sub3 .event .event_table table td a {
  color: #000;
}
/* line 19, public\less\maynlee\maynlee_sub3.less */
.sub3 .event .event_table table td:nth-child(3) {
  text-align: center;
}
/* line 20, public\less\maynlee\maynlee_sub3.less */
.sub3 .event .event_table table td:nth-child(4) {
  text-align: center;
}
/* line 21, public\less\maynlee\maynlee_sub3.less */
.sub3 .event .event_table table td:nth-child(5) {
  text-align: center;
}
/* line 26, public\less\maynlee\maynlee_sub3.less */
.sub3 .event .event_list {
  text-align: center;
  width: 100%;
  height: 40px;
}
/* line 27, public\less\maynlee\maynlee_sub3.less */
.sub3 .event .event_list li {
  display: inline-block;
  width: 30px;
  height: 30px;
  background-color: #000;
  text-align: center;
  line-height: 30px;
  margin-top: 20px;
  font-size: 12px;
}
/* line 28, public\less\maynlee\maynlee_sub3.less */
.sub3 .event .event_list li a {
  color: #fff;
}
/* line 4, public\less\maynlee\maynlee_sub4.less */
.sub4 .contents-sub4 {
  width: 100%;
  height: 700px;
  margin: 0 auto;
  padding-top: 8%;
}
/* line 5, public\less\maynlee\maynlee_sub4.less */
.sub4 .contents-sub4 i {
  display: block;
  width: 200px;
  border: 5px #000 solid;
  margin: 0 auto;
}
/* line 6, public\less\maynlee\maynlee_sub4.less */
.sub4 .contents-sub4 h5 {
  font-size: 20px;
  line-height: 450%;
  text-align: center;
  font-family: 'Montserrat';
  font-weight: bold;
}
/* line 7, public\less\maynlee\maynlee_sub4.less */
.sub4 .contents-sub4 h1 {
  text-align: center;
  font-family: 'Montserrat';
  font-size: 100px;
  line-height: 130px;
  letter-spacing: 7px;
}
/* line 9, public\less\maynlee\maynlee_sub4.less */
.sub4 .contents-sub4 .sub4-text {
  display: block;
  width: 1080px;
  height: 250px;
  padding-top: 6%;
  margin: 0 auto;
}
/* line 10, public\less\maynlee\maynlee_sub4.less */
.sub4 .contents-sub4 .sub4-text .text1 {
  display: block;
  width: 470px;
  height: 228px;
  float: left;
  font-size: 11px;
  line-height: 250%;
  letter-spacing: 0.3px;
}
/* line 12, public\less\maynlee\maynlee_sub4.less */
.sub4 .contents-sub4 .sub4-text .text1 span {
  letter-spacing: 0.7px;
}
/* line 15, public\less\maynlee\maynlee_sub4.less */
.sub4 .contents-sub4 .sub4-text .text2 {
  display: block;
  width: 610px;
  height: 228px;
  float: left;
  font-size: 12px;
  line-height: 220%;
}
/* line 16, public\less\maynlee\maynlee_sub4.less */
.sub4 .contents-sub4 .sub4-text .text2 p {
  margin-bottom: 5%;
  margin-left: 12%;
}
/* line 19, public\less\maynlee\maynlee_sub4.less */
.sub4 .collection-sub4 {
  width: 1080px;
  margin: 0 auto;
}
/* line 20, public\less\maynlee\maynlee_sub4.less */
.sub4 .collection-sub4 li {
  display: inline-block;
  position: relative;
}
/* line 21, public\less\maynlee\maynlee_sub4.less */
.sub4 .collection-sub4 li span {
  width: 157px;
  height: 50px;
  display: block;
}
/* line 21, public\less\maynlee\maynlee_sub4.less */
.sub4 .collection-sub4 li span a {
  color: #000;
}
/* line 22, public\less\maynlee\maynlee_sub4.less */
.sub4 .collection-sub4 li span H2 {
  letter-spacing: 3px;
}
/* line 23, public\less\maynlee\maynlee_sub4.less */
.sub4 .collection-sub4 li:nth-child(even) {
  margin-left: 7%;
}
/* line 24, public\less\maynlee\maynlee_sub4.less */
.sub4 .collection-sub4 li:nth-child(even) a {
  text-align: right;
}
/* line 26, public\less\maynlee\maynlee_sub4.less */
.sub4 .collection-sub4 li:nth-child(1) {
  width: 500px;
  height: 480px;
}
/* line 27, public\less\maynlee\maynlee_sub4.less */
.sub4 .collection-sub4 li:nth-child(1) img {
  width: 425px;
  height: 425px;
  position: absolute;
  top: 0;
}
/* line 28, public\less\maynlee\maynlee_sub4.less */
.sub4 .collection-sub4 li:nth-child(1) span {
  position: absolute;
  right: -10%;
  top: 5%;
}
/* line 29, public\less\maynlee\maynlee_sub4.less */
.sub4 .collection-sub4 li:nth-child(1) span H2 {
  position: absolute;
  bottom: 0;
  font-size: 20px;
  font-weight: 700;
}
/* line 31, public\less\maynlee\maynlee_sub4.less */
.sub4 .collection-sub4 li:nth-child(2) {
  width: 500px;
  height: 480px;
}
/* line 32, public\less\maynlee\maynlee_sub4.less */
.sub4 .collection-sub4 li:nth-child(2) img {
  width: 425px;
  height: 425px;
  position: absolute;
  right: 3%;
}
/* line 33, public\less\maynlee\maynlee_sub4.less */
.sub4 .collection-sub4 li:nth-child(2) span {
  position: absolute;
  left: -10%;
  bottom: 15%;
}
/* line 34, public\less\maynlee\maynlee_sub4.less */
.sub4 .collection-sub4 li:nth-child(2) span h6 {
  text-align: right;
}
/* line 35, public\less\maynlee\maynlee_sub4.less */
.sub4 .collection-sub4 li:nth-child(2) span H2 {
  font-size: 20px;
  text-align: right;
  line-height: 50px;
}
/* line 38, public\less\maynlee\maynlee_sub4.less */
.sub4 .collection-sub4 li:nth-child(3) {
  width: 500px;
  height: 680px;
}
/* line 39, public\less\maynlee\maynlee_sub4.less */
.sub4 .collection-sub4 li:nth-child(3) img {
  width: 425px;
  height: 425px;
  position: absolute;
  right: 30%;
  top: 20%;
}
/* line 40, public\less\maynlee\maynlee_sub4.less */
.sub4 .collection-sub4 li:nth-child(3) span {
  position: absolute;
  right: 5%;
  top: 25%;
}
/* line 41, public\less\maynlee\maynlee_sub4.less */
.sub4 .collection-sub4 li:nth-child(3) span H2 {
  position: absolute;
  bottom: 0;
  font-size: 20px;
}
/* line 43, public\less\maynlee\maynlee_sub4.less */
.sub4 .collection-sub4 li:nth-child(4) {
  width: 500px;
  height: 680px;
}
/* line 44, public\less\maynlee\maynlee_sub4.less */
.sub4 .collection-sub4 li:nth-child(4) img {
  width: 425px;
  height: 655px;
  position: absolute;
  right: 0;
  top: 0;
}
/* line 45, public\less\maynlee\maynlee_sub4.less */
.sub4 .collection-sub4 li:nth-child(4) span {
  position: absolute;
  left: -10%;
  bottom: 35%;
}
/* line 46, public\less\maynlee\maynlee_sub4.less */
.sub4 .collection-sub4 li:nth-child(4) span h6 {
  text-align: right;
}
/* line 47, public\less\maynlee\maynlee_sub4.less */
.sub4 .collection-sub4 li:nth-child(4) span H2 {
  font-size: 20px;
  text-align: right;
  line-height: 50px;
}
/* line 50, public\less\maynlee\maynlee_sub4.less */
.sub4 .collection-sub4 li:nth-child(5) {
  width: 500px;
  height: 480px;
}
/* line 51, public\less\maynlee\maynlee_sub4.less */
.sub4 .collection-sub4 li:nth-child(5) img {
  width: 425px;
  height: 273px;
  position: absolute;
  right: 30%;
  top: 10%;
}
/* line 52, public\less\maynlee\maynlee_sub4.less */
.sub4 .collection-sub4 li:nth-child(5) span {
  position: absolute;
  right: 20%;
  top: 10%;
}
/* line 53, public\less\maynlee\maynlee_sub4.less */
.sub4 .collection-sub4 li:nth-child(5) span H2 {
  position: absolute;
  bottom: 0;
  font-size: 20px;
}
/* line 55, public\less\maynlee\maynlee_sub4.less */
.sub4 .collection-sub4 li:nth-child(6) {
  width: 500px;
  height: 480px;
}
/* line 56, public\less\maynlee\maynlee_sub4.less */
.sub4 .collection-sub4 li:nth-child(6) img {
  width: 425px;
  height: 425px;
  position: absolute;
  top: 15%;
  right: 10%;
}
/* line 57, public\less\maynlee\maynlee_sub4.less */
.sub4 .collection-sub4 li:nth-child(6) span {
  position: absolute;
  left: -7%;
  bottom: 25%;
}
/* line 58, public\less\maynlee\maynlee_sub4.less */
.sub4 .collection-sub4 li:nth-child(6) span h6 {
  text-align: right;
}
/* line 59, public\less\maynlee\maynlee_sub4.less */
.sub4 .collection-sub4 li:nth-child(6) span H2 {
  font-size: 20px;
  text-align: right;
  line-height: 50px;
}
/* line 62, public\less\maynlee\maynlee_sub4.less */
.sub4 .collection-sub4 li:nth-child(7) {
  width: 500px;
  height: 550px;
}
/* line 63, public\less\maynlee\maynlee_sub4.less */
.sub4 .collection-sub4 li:nth-child(7) img {
  width: 425px;
  height: 273px;
  position: absolute;
  top: 0;
}
/* line 64, public\less\maynlee\maynlee_sub4.less */
.sub4 .collection-sub4 li:nth-child(7) span {
  position: absolute;
  right: 0%;
  top: 15%;
}
/* line 65, public\less\maynlee\maynlee_sub4.less */
.sub4 .collection-sub4 li:nth-child(7) span H2 {
  position: absolute;
  bottom: 0;
  font-size: 20px;
}
/* line 67, public\less\maynlee\maynlee_sub4.less */
.sub4 .collection-sub4 li:nth-child(8) {
  width: 500px;
  height: 550px;
}
/* line 68, public\less\maynlee\maynlee_sub4.less */
.sub4 .collection-sub4 li:nth-child(8) img {
  width: 425px;
  height: 425px;
  position: absolute;
  top: 10%;
}
/* line 69, public\less\maynlee\maynlee_sub4.less */
.sub4 .collection-sub4 li:nth-child(8) span {
  position: absolute;
  left: -13%;
  bottom: 35%;
}
/* line 70, public\less\maynlee\maynlee_sub4.less */
.sub4 .collection-sub4 li:nth-child(8) span h6 {
  text-align: right;
}
/* line 71, public\less\maynlee\maynlee_sub4.less */
.sub4 .collection-sub4 li:nth-child(8) span H2 {
  font-size: 20px;
  text-align: right;
  line-height: 50px;
}
/* line 74, public\less\maynlee\maynlee_sub4.less */
.sub4 .collection-sub4 li:nth-child(9) {
  width: 500px;
  height: 650px;
}
/* line 75, public\less\maynlee\maynlee_sub4.less */
.sub4 .collection-sub4 li:nth-child(9) img {
  width: 425px;
  height: 425px;
  position: absolute;
  right: 30%;
  top: -15%;
}
/* line 76, public\less\maynlee\maynlee_sub4.less */
.sub4 .collection-sub4 li:nth-child(9) span {
  position: absolute;
  right: 10%;
  top: 40%;
}
/* line 77, public\less\maynlee\maynlee_sub4.less */
.sub4 .collection-sub4 li:nth-child(9) span H2 {
  position: absolute;
  bottom: 0;
  font-size: 20px;
}
/* line 79, public\less\maynlee\maynlee_sub4.less */
.sub4 .collection-sub4 li:nth-child(10) {
  width: 500px;
  height: 650px;
}
/* line 80, public\less\maynlee\maynlee_sub4.less */
.sub4 .collection-sub4 li:nth-child(10) img {
  width: 425px;
  height: 425px;
  position: absolute;
  right: 0;
  top: 5%;
}
/* line 81, public\less\maynlee\maynlee_sub4.less */
.sub4 .collection-sub4 li:nth-child(10) span {
  position: absolute;
  left: -7%;
  bottom: 33%;
}
/* line 82, public\less\maynlee\maynlee_sub4.less */
.sub4 .collection-sub4 li:nth-child(10) span h6 {
  text-align: right;
}
/* line 83, public\less\maynlee\maynlee_sub4.less */
.sub4 .collection-sub4 li:nth-child(10) span H2 {
  font-size: 20px;
  text-align: right;
  line-height: 50px;
}
/* line 1, public\less\maynlee\maynlee_brand.less */
.brand {
  width: 100%;
  height: 100%;
}
/* line 3, public\less\maynlee\maynlee_brand.less */
.brand .section-brand {
  width: 1080px;
  height: 2537px;
  margin: 0 auto;
  padding-top: 8%;
}
/* line 4, public\less\maynlee\maynlee_brand.less */
.brand .section-brand .brand-story img {
  width: 100%;
  height: 344px;
  margin-top: 5%;
}
/* line 5, public\less\maynlee\maynlee_brand.less */
.brand .section-brand .brand-history {
  width: 100%;
  height: 2152px;
  margin-top: 10%;
}
/* line 6, public\less\maynlee\maynlee_brand.less */
.brand .section-brand .brand-history .intro {
  width: 340px;
  height: 272px;
  float: left;
  padding-right: 20px;
}
/* line 7, public\less\maynlee\maynlee_brand.less */
.brand .section-brand .brand-history .intro h4 {
  letter-spacing: 1px;
  margin-bottom: 20px;
  font-size: 14px;
}
/* line 8, public\less\maynlee\maynlee_brand.less */
.brand .section-brand .brand-history .intro p {
  font-size: 12px;
  line-height: 200%;
  letter-spacing: 0.5px;
}
/* line 13, public\less\maynlee\maynlee_brand.less */
.brand .section-brand .brand-history .history {
  width: 720px;
  height: 1872px;
  float: left;
}
/* line 14, public\less\maynlee\maynlee_brand.less */
.brand .section-brand .brand-history .history h4 {
  letter-spacing: 1px;
  margin-bottom: 20px;
  font-size: 14px;
}
/* line 15, public\less\maynlee\maynlee_brand.less */
.brand .section-brand .brand-history .history table {
  border-collapse: collapse;
  line-height: 200%;
  font-size: 12px;
  letter-spacing: 1px;
}
/* line 16, public\less\maynlee\maynlee_brand.less */
.brand .section-brand .brand-history .history table td:first-child {
  vertical-align: top;
}
/* line 17, public\less\maynlee\maynlee_brand.less */
.brand .section-brand .brand-history .history table td:last-child {
  padding-bottom: 20px;
}
/* line 3, public\less\maynlee\maynlee_sub2.less */
.sub2 .contents-sub2 {
  width: 100%;
  height: 600px;
  background-image: url(../../images/maynlee/images/reservation_top.jpg);
  background-position: center center;
}
/* line 7, public\less\maynlee\maynlee_sub2.less */
.sub2 .section-sub2 {
  width: 1080px;
  height: 1445px;
  margin: 0 auto;
}
/* line 8, public\less\maynlee\maynlee_sub2.less */
.sub2 .section-sub2 .section2-top {
  width: 100%;
  height: 758px;
}
/* line 9, public\less\maynlee\maynlee_sub2.less */
.sub2 .section-sub2 .section2-top h2 {
  font-size: 80px;
  padding-top: 120px;
  padding-bottom: 80px;
  letter-spacing: 5px;
}
/* line 10, public\less\maynlee\maynlee_sub2.less */
.sub2 .section-sub2 .section2-top .sec-box {
  width: 100%;
  height: 274px;
}
/* line 11, public\less\maynlee\maynlee_sub2.less */
.sub2 .section-sub2 .section2-top .sec-box .sec-text {
  width: 530px;
  height: 100%;
  float: left;
}
/* line 12, public\less\maynlee\maynlee_sub2.less */
.sub2 .section-sub2 .section2-top .sec-box .sec-text p {
  display: block;
  font-size: 12px;
  line-height: 200%;
}
/* line 13, public\less\maynlee\maynlee_sub2.less */
.sub2 .section-sub2 .section2-top .sec-box .sec-text p:nth-child(1) {
  width: 380px;
  height: 130px;
  padding-top: 3%;
}
/* line 14, public\less\maynlee\maynlee_sub2.less */
.sub2 .section-sub2 .section2-top .sec-box .sec-text p:nth-child(2) {
  margin-top: 20px;
  margin-bottom: 15px;
}
/* line 15, public\less\maynlee\maynlee_sub2.less */
.sub2 .section-sub2 .section2-top .sec-box .sec-text p:nth-child(3) {
  width: 380px;
  height: 78px;
}
/* line 17, public\less\maynlee\maynlee_sub2.less */
.sub2 .section-sub2 .section2-top .sec-box .sec-checklist {
  width: 530px;
  height: 100%;
  float: left;
}
/* line 18, public\less\maynlee\maynlee_sub2.less */
.sub2 .section-sub2 .section2-top .sec-box .sec-checklist table {
  border: 1px #000 solid;
  width: 100%;
  height: 100%;
  border-collapse: collapse;
  border-left: 0;
  border-right: 0;
  border-top: 0;
}
/* line 20, public\less\maynlee\maynlee_sub2.less */
.sub2 .section-sub2 .section2-top .sec-box .sec-checklist table tr:nth-child(1) {
  border: 4px #000 solid;
  border-left: 0;
  border-right: 0;
  border-top: 0;
}
/* line 21, public\less\maynlee\maynlee_sub2.less */
.sub2 .section-sub2 .section2-top .sec-box .sec-checklist table td:nth-child(even) {
  text-align: right;
  padding-right: 2%;
}
/* line 22, public\less\maynlee\maynlee_sub2.less */
.sub2 .section-sub2 .section2-top .sec-box .sec-checklist table tr,
.sub2 .section-sub2 .section2-top .sec-box .sec-checklist table td {
  border: 1px #000 solid;
  border-left: 0;
  border-right: 0;
  border-top: 0;
  font-size: 12px;
  letter-spacing: 0.5px;
}
/* line 28, public\less\maynlee\maynlee_sub2.less */
.sub2 .section-sub2 .section2-top .naverbox {
  background-color: #5cb85c;
  width: 815px;
  height: 30px;
  margin-top: 3%;
  line-height: 180%;
  text-align: center;
  margin-left: 10.5%;
  border-radius: 5px 5px 5px 5px;
}
/* line 30, public\less\maynlee\maynlee_sub2.less */
.sub2 .section-sub2 .section2-top .naverbox a {
  color: #fff;
  font-size: 13px;
}
/* line 33, public\less\maynlee\maynlee_sub2.less */
.sub2 .section-sub2 .section2-reservation {
  width: 100%;
  height: 687px;
}
/* line 34, public\less\maynlee\maynlee_sub2.less */
.sub2 .section-sub2 .section2-reservation b {
  font-size: 12px;
}
/* line 35, public\less\maynlee\maynlee_sub2.less */
.sub2 .section-sub2 .section2-reservation span {
  outline: 2px #000 solid;
  width: 100%;
  display: block;
  margin-top: 15px;
}
/* line 36, public\less\maynlee\maynlee_sub2.less */
.sub2 .section-sub2 .section2-reservation .reservation-form {
  width: 100%;
  height: 427px;
  margin-top: 6%;
  font-size: 12px;
  letter-spacing: 1px;
}
/* line 38, public\less\maynlee\maynlee_sub2.less */
.sub2 .section-sub2 .section2-reservation .reservation-form input {
  width: 100%;
  height: 35px;
  border: 1px solid #e0e0e0;
  font-size: 12px;
  color: #000;
  padding: 2px;
}
/* line 40, public\less\maynlee\maynlee_sub2.less */
.sub2 .section-sub2 .section2-reservation .reservation-form i {
  color: #f00;
}
/* line 41, public\less\maynlee\maynlee_sub2.less */
.sub2 .section-sub2 .section2-reservation .reservation-form p {
  margin-bottom: 12px;
  margin-top: 12px;
}
/* line 42, public\less\maynlee\maynlee_sub2.less */
.sub2 .section-sub2 .section2-reservation .reservation-form .doit {
  width: 190px;
  height: 40px;
  background-color: #000;
  margin-top: 3.5%;
  color: #fff;
  line-height: 180%;
  font-size: 12px;
  letter-spacing: 0.5px;
}
